.new-tweet form {
  display: flex;
  flex-direction: column;
}
.new-tweet label {
  font-weight: bolder;
}
#tweet-text {
  outline: none;
  border: none;
  border-bottom: 3px solid black;
  background: none;
  resize: none;
  overflow: auto;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  font-family: "Bungee", cursive;
}
.new-tweet button {
  background-color: #4056A1;
  color: #FFFFFF;
}
.red-color {
  color: red;
}
