#tweets {
  margin: 2rem 0;
  
}
#tweets .tweet:hover {
  box-shadow: 12px 12px rgba(0, 0, 255, .2);
}
.avatar-name {
  display: flex;
}
#tweets .avatar-name p {
  margin-left: 0.5rem;
}
.tweet {
  border: 3px solid black;
  border-radius: 3px;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

#tweets header, #tweets footer {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1rem 0 ;
  padding: 0 1rem;
}

#tweets header p{
  align-self: center;
}

#tweets p {
  margin: 0;
 
}
#tweets header > p {
  color: rgba(165, 164, 164, 0.527);
}
#tweets main {
  margin: 1rem 0;
  padding: 0 1rem;
  padding-bottom: 2rem;
  border-bottom: 3px solid black;
  width: 100%;
}
.icon-group :hover {
  color: rgba(211, 176, 59, 0.795);
}
.tweet-avatar {
  width: 64px;
  height: 64px;
}


